<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg p-3 mb-5 rounded">
    <a class="navbar-brand" href="/users/index">
        Home
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/users/index">Usuários</a>
        </li>    
    </ul>

    <div class="btn-group navbar-nav">
        <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </button>
        <div class="dropdown-menu" style="margin-left: -200px; width: 300px; background-color: #ebebeb;">
            <div style="margin-left: 20px; width: 290px; ">
            <b>Usuário:</b> <%= user.id %> - <%= user.nome || 'Vistante' %><br>
            <b>Tempo Sessão:</b> <%= user.today || '00:10:00' %><br><br>
            <a href="/users/change-pass/<%= user.id %>">Alterar senha</a><br>
            <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>