<%- include partials/header.ejs %>
<%- include partials/navbarOff.ejs %>

<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Insira seus dados para efetuar o login</p>
            <hr class="my-4">
            <div class="card-header">
                <form method="POST" action="/authenticate">
                    <p>           
                        <label class="mb-0 mt-3">Seu e-mail</label><br>
                        <input type="text" name="email" placeholder="E-mail"><br>
                        <label class="mb-0 mt-3">Sua senha</label><br>
                        <input type="password" name="password" placeholder="******">
                    </p>
                    <button type="submit" class="btn btn-info btn-block">Entrar</button>
                </form>
            </div>
        </div>        
    </div>
</body>

<%- include partials/footer.ejs %>