<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>

<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Insira seus dados para efetuar o login</p>
            <hr class="my-4">
            <div class="card-header">
                <form>
                    <p>           
                        <label class="mb-0 mt-3">Seu e-mail</label><br>
                        <input type="text" name="txtEmail" placeholder="E-mail"><br>
                        <label class="mb-0 mt-3">Sua senha</label><br>
                        <input type="password" name="txtSenha" placeholder="******">
                    </p>
                    <a class="btn btn-primary btn-lg" href="#">Entrar</a>
                </form>
            </div>
        </div>        
    </div>
</body>

<%- include partials/footer.ejs %>