<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>

<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Este é um projeto para uso de login com session e cookies.</p>
            <hr class="my-4">
            <p>Descrição detalhada aqui!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
        </div>        
    </div>
</body>

<%- include partials/footer.ejs %>